@import '../../../styles/variables.scss';
 
.lang-btn {
    background: none;
    border: none;
    font-weight: bold;
    color: $text-color;
    font-size: 14px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
  
    &:hover {
      color: $color-text-secondary;
    }
  }
  