@import '../../../styles/variables.scss';

.title {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: $color-text-main;
  text-align: center;
  margin-bottom: $spacing-lg;

  .underline {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: $color-accent;
    margin: 0.5rem auto 0 auto;
    border-radius: $radius-sm;

    &.whiteUnderline{
      background-color: $color-white;
    }
  }
}
