@import '../../styles/variables.scss';
.hero {
  position: relative;
  width: 100%;
  height: 130vh;
  overflow: hidden;
  background-color: $color-background-header;

  @media (max-width: 768px) {
    height: 100vh;
  }

  .imageContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%; // Ensure the image container fills the section
    opacity: 0.5;

    @media (max-width: 768px) {
      width: 100%;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    position: absolute;
    top: 36%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
      left: 0px;
      transform: none;
    }

    .title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .subtitle {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
  }
}
