@import '../../styles/variables.scss';

.skills{
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
    padding-top: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 768px) {
        padding: 20px 0;
        height: fit-content;
    }

    .skillsContainer{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        flex-wrap: wrap;

        .skillBox{
            width: fit-content;
            max-width: 100%;
            min-width: 100px;
            background-color: white;
            padding: 15px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #1abc9c; // Optional border for styling
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
            border-radius: 10px; // Optional rounded corners
            transition: box-shadow 0.3s ease; // Smooth shadow transition

            &:hover {
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); // Add a stronger shadow on hover
                scale: 1.2; // Slightly scale up the box on hover
                cursor: pointer;
              }

              .skillText {
                color: $primary-color; 
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                                white-space: normal;
                                overflow-wrap: anywhere;
              }
        }
    }

}