@import './styles/variables.scss';


.App {
  text-align: center;
}



.App-header {
  // background-color: $color-background-header;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color-text-main;
  .language-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.App-link {
  color: $link-color;
}

